/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'Hind Vadodara', Helvetica, Arial, sans-serif;
    font-size:25px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    overflow: hidden;
}

/* Portrait layout (default) */
.app {
		overflow: hidden;
		position: relative;
    width: 100%;
    height: 20%;
    text-align:center;
    background: #f8f8f8;
    border-top: #bbb 1px solid;
}

.app_inside{
		padding: 20px;
}

#root{
		position: relative;
		width: 100%;
		height: 80%;
}

.topbar{
	width: 100%;
	background: #88BBD6;
	padding: 5px 0 2px;
	border-bottom: 2px rgba(0,0,0,0.3) solid; 
}

.topbar-menubtn_logo{
	height: 30px;
	margin-right: 5px;
}

.mainSection{
	position: relative;
	background: black;
}

.mainContent{
	width: 100%;
	background: #fdfdfd;
	height: 100%;
}

.sideBar{
	position: absolute;
	top: 0px;
	height: 100%;
	width: 90%;
	display: none;
	background: #ddd;
	border-right: #eee;
}

.sideBar ul li{
		width: 100%;
		border-top: 1px #eee solid;
		border-bottom: 1px #ccc solid;
}

.sideBar ul li a{
		text-decoration: none;
}

.sideBar ul li p{
		padding: 10px 18px;
		color: #666;
		margin: 0px;
		font-size: 18px;
}

.button_blue_large{
	-webkit-appearance: none;
	background: #88BBD6;
	color: white;
	border: 1px solid #bbb;
	border-radius: 5px;
	font-size: 20px;
	padding: 8px 20px;
}

.button_grey_large{
	-webkit-appearance: none;
	background: #E9E9E9;
	color: #666;
	border: 1px solid #bbb;
	border-radius: 5px;
	font-size: 20px;
	padding: 8px 20px;
}

.input_textfield_large{
	border-radius: 5px;
	font-size: 25px;
	padding: 8px 20px;
	text-align: center;
}

.text_1{
	color: #666;
	font-size:25px;
	margin: 0 0 10px;
	padding: 0px;
}

.text_2{
	font-size: 16px;
	color: #aaa;
	margin: 0 0 10px;
	padding: 0px;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-view ul {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;

}

.list-view ul li{
  padding: 5px;
  font-size: 0.5em;
}

